<%= form_for(@icon,:html => { :multipart => true }) do |f| %>
  <% if @icon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@icon.errors.count, "error") %> prohibited this icon from being saved:</h2>

      <ul>
      <% @icon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.label :uploaded_data %><br />
    <%= f.file_field :uploaded_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
