<p id="notice"><%= notice %></p>

<p>
  <b>Uy:</b>
  <%= @image.uy_id %>
</p>

<p>
  <b>Us:</b>
  <%= @image.us_id %>
</p>

<p>
  <b>Ux:</b>
  <%= @image.ux_id %>
</p>

<p>
  <b>Ud:</b>
  <%= @image.ud_id %>
</p>

<p>
  <b>Sy:</b>
  <%= @image.sy_id %>
</p>

<p>
  <b>Lx:</b>
  <%= @image.lx_id %>
</p>

<p>
  <b>Cx:</b>
  <%= @image.cx_id %>
</p>

<p>
  <b>Rx:</b>
  <%= @image.rx_id %>
</p>

<p>
  <b>Ry:</b>
  <%= @image.ry_id %>
</p>

<p>
  <b>Ds:</b>
  <%= @image.ds_id %>
</p>

<p>
  <b>Dx:</b>
  <%= @image.dx_id %>
</p>

<p>
  <b>Dr:</b>
  <%= @image.dr_id %>
</p>

<p>
  <b>Dy:</b>
  <%= @image.dy_id %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
