<!DOCTYPE html>
<html>
<head>
  <title>Rafo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/icon.png" type="image/png"/>
</head>
<body>
  <div id="user_nav">
  <% if @current_user %>
    Logged in as <%= @current_user.email %>.
    <%= link_to "Log out", logout_path %>
    <nav>
<a href="/images">Images</a>
<a href="/icons">Icons</a>
<a href="/quotes">Quotes</a>
</nav>
  <% else %>
    <%= link_to "Sign up", signup_path %>
  <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<%= yield %>
<footer>
  <a href="https://www.github.com/sadjehwty/rafo">RAfo</a> 
  &egrave; un prodotto 
  <a href="https://www.github.com/oomushi" class="macrobug">Oomushi</a>
</footer>
</body>
</html>
